<div id="buttons_div">
  <div id="modes">
    <button class="mode_btn" (click)="setMode('toggle')">Toggle</button>
    <button class="mode_btn" (click)="setMode('pattern')">Pattern</button>
  </div>

  <hr>

  <div *ngIf="mode==='toggle'">
    <div class="led" *ngFor="let value of values; index as i">
      <svg width="80" height="80">
        <circle [ngClass]="{'ledon': value === 1, 'ledoff': value === 0}" (click)="toggleLed(i)" class="led" cx="40" cy="40" r="35" stroke="black" />
      </svg>
    </div>
  </div>

  <div id="patterns" *ngIf="mode==='pattern'">
    <button class="pattern_btn" (click)="setPattern('bounce')">Bounce</button>
    <button class="pattern_btn" (click)="setPattern('walkRight')">Loop Right</button>
    <button class="pattern_btn" (click)="setPattern('walkLeft')">Loop Left</button>
    <button class="pattern_btn" (click)="setPattern('invert')">Invert</button>
  </div>

  <div *ngIf="mode==='pattern'"><span id="period">Period: {{period}}</span></div>
  
  <div *ngIf="mode==='pattern'">
    <input id="period_slider" type="range" min="0" max="100" value="50" (change)="setPeriod($event.target.value)">
  </div>

</div>
